<config template="project (default)" platform="project">Created: må jul 13 16:19:41 2015
By: ext.vicu
Using Template: project (default)

&lt;description to go here><option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="App"/>
    <option fromDef="true" name="caption" value="App"/>
    <option fromDef="true" name="provider" value="ext.vicu"/>
    <option fromDef="true" name="copyright" value="(C) ext.vicu"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
